from agents.base import FootsiesAgentBase
# from gymnasium import Env


class FootsiesAgent(FootsiesAgentBase):
    def act(self, obs) -> "any":
        ...

    def update(self, next_obs, reward: float, terminated: bool, truncated: bool):
        ...

    # def preprocess(self, env: Env):
    #     ...

    def load(self, folder_path: str):
        ...

    def save(self, folder_path: str):
        ...
